{
    ApplicationDescription = "AppIcon to display Uptime and Memory Usage";
    ApplicationName = UpMem;
    ApplicationRelease = "0.1";
    Authors = (
	"Patrick CARDONA"
    );
    Copyright = "Copyright (C) 2026 - Part of the Agnostep Desktop Project";
    CopyrightDescription = "Released under GNU General Public License 3.0";
    FullVersionID = "0.1";
    NSExecutable = UpMem;
    NSMainNibFile = ;
    NSPrincipalClass = NSApplication;
    NSIcon = "Memory.tiff";
    NSRole = Application;
}
