{
    ApplicationDescription = "M\U00E9mo des anniversaires";
    ApplicationName = Birthday;
    ApplicationRelease = "0.2";
    Authors = (
	"Patrick CARDONA"
    );
    Copyright = "Copyright (C) 2026 - Un outil d'Agnostep";
    CopyrightDescription = "Distribu\U00E9 sous la licence publique g\U00E9n\U00E9rale GNU (GPL) 3.0";
    FullVersionID = "0.2";
    NSExecutable = Birthday;
    NSIcon = "Birthday.tiff";
    NSMainNibFile = ;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    GSHelpContentsFile = "Birthday.help";
}
