{
    ApplicationDescription = "Gestionnaire de l'imprimante";
    ApplicationName = Printer;
    ApplicationRelease = "0.2";
    Authors = (
	"Patrick CARDONA"
    );
    Copyright = "Copyright (C) 2026 - Un outil du projet de Bureau Agnostep";
    CopyrightDescription = "Distribu\U00E9 sous la licence publique g\U00E9n\U00E9rale GNU version 3.0";
    FullVersionID = "0.2";
    NSExecutable = Printer;
    NSMainNibFile = ;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSIcon = "Printer.tiff";
    GSHelpContentsFile = "Printer.help";
}
