{
    ApplicationDescription = "Gestionnaire Agnostep pour le projet de Bureau Agnostep";
    ApplicationName = AgnostepManager;
    ApplicationRelease = "0.3";
    Authors = (
	"Patrick CARDONA"
    );
    Copyright = "Copyright (C) 2026";
    CopyrightDescription = "Distribu\U00E9 sous la licence g\U00E9n\U00E9rale publique GNU (GPL) 3.0";
    FullVersionID = "0.3";
    NSExecutable = AgnostepManager;
    NSMainNibFile = ;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSIcon = "AgnostepManager.tiff";
    GSHelpContentsFile = "AgnostepManager.help";
}
