{
    ApplicationDescription = "Printer Manager";
    ApplicationName = Printer;
    ApplicationRelease = "0.2";
    Authors = (
	"Patrick CARDONA"
    );
    Copyright = "Copyright (C) 2026 - Part of the Agnostep Desktop Project";
    CopyrightDescription = "Released under GNU General Public License 3.0";
    FullVersionID = "0.1";
    NSExecutable = Printer;
    NSMainNibFile = ;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSIcon = "Printer.tiff";
    GSHelpContentsFile = "Printer.help";
}
