{
    ApplicationDescription = "Opens the Applications folder";
    ApplicationName = Launcher;
    ApplicationRelease = "0.2";
    Authors = (
	"Patrick CARDONA"
    );
    Copyright = "Copyright (C) 2026 - An Agnostep Tool";
    CopyrightDescription = "Released under the GNU General Public License 3.0";
    FullVersionID = "0.1";
    NSExecutable = Launcher;
    NSMainNibFile = ;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSIcon = "Launcher.tiff";
    GSHelpContentsFile = "Launcher.help";
}
